#!/usr/bin/make -f

export PYBUILD_NAME=abraflexi

%:
	dh $@ --with python3,apache2 --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build *.egg-info debian/doc-en-html docs/_build

override_dh_auto_build:
	dh_auto_build
	sphinx-build -b html -c docs -D html_theme=shibuya -D pygments_style=default \
		docs/en debian/doc-en-html

override_dh_auto_test:
	# Skip tests during build (can be enabled later)
	@echo "Tests skipped during build"
